/* debug */
/* div { */
/*   border: 1px #ccc solid; */
/*   padding: 10px; */
/* } */


h1 {
  text-align: center;
}

#buttons {
  margin: 0 auto;
  width: 60%;
}

#buttons div {
  width: 50%;
  display: flex;
}

#buttons div button {
  margin: 0 auto;
  width: 50%;
  align-items: center;
}
