/* debug */
/* div { */
/*   border: 1px #ccc solid; */
/*   padding: 10px; */
/* } */


h1 {
  text-align: center;
}

#buttons {
  margin: 0 auto;
  width: 60%;
}

#buttons div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-direction: column;
}

#buttons div button {
  align-items: center;
  margin: 5px;
}
